[Unit]
Description=My fastapi application
After=network.target

[Service]
User=cskim
Group=cskim
WorkingDirectory=/home/cskim/app/src/
Environment="PATH=/home/cskim/app/venv/bin"
EnvironmentFile=/home/cskim/.env
ExecStart=/home/cskim/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target